include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include akwad_ui_fixes *.css
recursive-include akwad_ui_fixes *.csv
recursive-include akwad_ui_fixes *.html
recursive-include akwad_ui_fixes *.ico
recursive-include akwad_ui_fixes *.js
recursive-include akwad_ui_fixes *.json
recursive-include akwad_ui_fixes *.md
recursive-include akwad_ui_fixes *.png
recursive-include akwad_ui_fixes *.py
recursive-include akwad_ui_fixes *.svg
recursive-include akwad_ui_fixes *.txt
recursive-exclude akwad_ui_fixes *.pyc